/* ============ KUBEVUE_IMPORT_START ============ */
.root {
    color: blue;
}

.root:hover {
    color: darkblue;
}

.root[disabled] {
    color: aliceblue;
}

.other {
    background: blue;
}
/* ============ KUBEVUE_IMPORT_END ============ */
/* ============ KUBEVUE_EXTEND_START ============ */
.root[color="primary"] {
    color: green;
}

.root[color="primary"]:hover {
    color: greenyellow;
}

.root[disabled] {
    color: lightgreen;
}

.other {
    background: green;
}
/* ============ KUBEVUE_EXTEND_END ============ */
.root:hover {
    color: yellow;
}

.root[color="primary"]:hover {
    color: red;
}
