/* ============ KUBEVUE_EXTEND_START ============ */
/* ============ KUBEVUE_EXTEND_START ============ */
.root {
    color: blue;
}

.root:hover {
    color: darkblue;
}

.root[disabled] {
    color: aliceblue;
}

.other {
    background: blue;
}
/* ============ KUBEVUE_EXTEND_END ============ */
.root:hover {
    color: purple;
}
/* ============ KUBEVUE_EXTEND_END ============ */
.root:hover {
    color: red;
}

.root[color="primary"]:hover {
    color: red;
}
